.main-container {
    width: 100%;
    border-radius: 8px;
    padding-bottom: 60px;
    padding-top: 100px;
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.go-back-link img {
    box-shadow: 0px px px rgba(0, 0, 0, 0.3);
}

.back-button {
    padding: 10px 20px;
    background-color: #6096B4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.article-title-section h1{
    text-align: center;
    margin: 25px 50px 25px 50px;
    font-size: 36px;
    font-weight: bold;
}

.meta-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    font-size: 15px;
    color: #333;
}

.meta-container .left,
.meta-container .right {
    display: flex;
    align-items: center;
}

/* 카테고리 스타일 */
.category {
    background-color: #6096b4; /* 카테고리 배경 색상 */
    color: #fff; /* 텍스트 색상 */
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block; /* 인라인 블록으로 가로 정렬 */
    margin-bottom: 20px; /* 하단 여백 */
    margin-left: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 */
    transition: background-color 0.3s, transform 0.3s;
    }

    .category:hover {
    background-color: #507d9a; /* 호버 시 배경 색상 변화 */
    transform: scale(1.05); /* 호버 시 확대 효과 */
    }

.meta-container .left .date,
.meta-container .left .author,
.meta-container .right .views,
.meta-container .right .bookmark {
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 2px solid #e0e9ee;
    box-shadow: 0px 4px 15px rgba(96, 150, 180, 0.1);
}

.meta-container .right .bookmark {
    margin-right: 0;
}

.bookmark {
    padding: 5px 15px;
    font-size: 15px;
    height: 36.5px;
    
}

.bookmark .material-symbols-outlined {
    font-size: 22px;
    vertical-align: middle;
    color: #525d63; 
}

.bookmark:hover {
    background-color: #93b2c1 !important;
    color: white !important;
    cursor: pointer;
}

.content-wrapper {
    margin: 50px 100px 10px 100px;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 50px;
    box-shadow: 0px 4px 15px rgba(96, 150, 180, 0.4);
}

.image-section {
    position: relative;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.image-section img {
    width: 25%;
    height: auto;
    border-radius: 6px;
}

.image-caption {
    bottom: 10px;
    left: 50%;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

/* 
.article-content-section {
    padding: 20px 100px 20px 100px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 10px;
} */

.article-content-section {
    max-width: 1100px; 
    margin: 0 auto;
    text-align: justify;
    line-height: 1.6; 
    font-size: 18px;
}

.article-content-section p {
    text-align: justify;
    line-height: 1.4;
    margin: 10px 30px;
    margin-bottom: 0.1em;
}

.back-to-list {
    margin: 10px 50px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.back-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6096B4;
    color: white;

    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 4px 15px rgba(96, 150, 180, 0.3);
}

.back-button:hover {
    background-color: #5891af
}